<h1>Welcome to the Admin Console</h1>

<h3>Clear all account logs (DO NOT USE UNLESS YOU WANT ALL USERS DELETED AND PISSED THE FUCK OFF AT YOU):</h3>

<form action="/deleteUsers" method="post">
    <button class="btn" type="submit">Delete users.csv and registerednames.csv</button>
</form>