<h1>Welcome to the Admin Console</h1>

<h3>List all users on the site:</h3>
<form name="toList" action="/listUsers" method="post">
    <textarea id="userbox" name="userbox" rows="10" cols="25">{{listed}}</textarea>
    <br><button class="btn" type="submit">List users from registerednames.csv (For logging, and deleting)</button>
</form>

<form action="/deleteUsers" method="post">
    <h3>Clear all account logs (DO NOT USE UNLESS YOU WANT ALL USERS DELETED AND PISSED THE FUCK OFF AT YOU) :</h3>
    <button class="btn" type="submit">Delete users.csv and registerednames.csv</button>
</form>