<h1>{{title}}</h1>
<a href="/"><font size="4" color="White">Home</font></a> | <a href="/login/"><font size="4" color="White">Login</font></a> | <a href="/credits/"><font size="4" color="White">Credits</font></a> | <a href="/bugreport/"><font size="4" color="White">Bug Report / Feedback</font></a>
<p>You may send me bug reports / Feedback on Twitter <a href="http://www.twitter.com/dec0mpiled"><font color="LimeGreen">@dec0mpiled</font></a>, or fill out the form below.</p>
<h3>Bug Report / Feedback Form</h3>
<form name="bugform" action="/sendMail" method="post">
    <input type="text" name="nameoruser" id="nameoruser" required=1 placeholder="Name / Username (Required)">
    <br><input type="text" name="bugemail" id="bugemail" required=1 placeholder="E-Mail Address (Required)">
    <br><br><textarea rows="4" cols="55" required=1 placeholder="please briefly describe the issue you have encountered, or the feedback you would like to send :)" name="bug" id="bug"></textarea>
    <!-- button -->
    <br><button onclick="myFunction()">Send Report</button>
    
<script>
function myFunction() {
    var x = document.forms["bugform"]["bugemail"].value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        alert("Not a valid e-mail address");
        return false;
    }
}
</script>
    
</form>