<font size=500 color=#0099FF><b>nDoto</b></font>
<h2>Thank you!</h2>
<h4>You have successfully confirmed your account! The site is being worked on very hard, and we will send you ONE email update when we are ready to launch! Have a great day! (You can close this tab if you would like)</h4>