<head><link rel='shortcut icon' href='favicon.ico' type='image/x-icon' /></head>

<h1>{{title}}</h1>

<a href="/"><font size="4" color="White">Home</font></a>  <a href="/credits/"><font size="4" color="White">Credits</font></a>

<br><p><font size="3" color="White">Hello! Thank you for checking out the credits page. Here I will list the members of the team who went above and beyond to ensure nDoto's development was a success!</font></p>

<br><br>
<marquee behavior="scroll" direction="left" scrollamount="6"><font size="5" color="Red">Site still under development! Follow <a href="//twitter.com/anindevs"><font size="5" color="White">@anindevs</font></a> on Twitter for updates!</font></marquee>