<head><link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ ></head>

<h1>{{title}}</h1>

<a href="/"><font size="4" color="White">Home</font></a> | <a href="/login/"><font size="4" color="White">Login</font></a> | <a href="/credits/"><font size="4" color="White">Credits</font></a> | <a href="/bugreport/"><font size="4" color="White">Bug Report / Feedback</font></a>
<br><br>
