
<head></head>
<link rel="shortcut icon" href="favicon.ico" />
<h1>{{title}}<sup><font color=#00ff00 size=3>"dream"</font></sup></h1>

<a href="/"><font size="4" color="White">Home</font></a> | <a href="/login/"><font size="4" color="White">Login</font></a> | <a href="/credits/"><font size="4" color="White">Credits</font></a> | <a href="/bugreport/"><font size="4" color="White">Bug Report / Feedback</font></a>
<BR><BR>
    
  <!--<img src="images/Jess.jpg" height=300 width=300> !-->
    <br> <font color=#FFF>_______________________________________</font>
    <br><br> <font color=#FFF>"Drew Tarnowski"</font> <font color=#3366ff>@dec0mpiled</font>
    <br><br><b><font color=#ffffff>nDoto is now up and ready for use! If you ever find bugs, report them on the "Bug Report" page. Thanks, and have fun!</font></b>
    <br><br>
    <a href="/addLike">| Like |</a>
    <a href="/removeLike">| Dislike |</a> ({{likeNumber}})
    <br> <font color=#FFF>_______________________________________</font>
     <!-- <a href="/resetAll">[ Reset ]</a> !-->
    <br><br><br>
<marquee behavior="scroll" direction="left" scrollamount="7"><font size="5" color="Red">Welcome to nDoto! To get started, head to the Login page to Login or Register :)</font></marquee>