<link rel="shortcut icon" href="favicon.ico" />
<h1>{{title}} <font size="3" color="White">By @dec0mpiled</font></h1>

<a href="/"><font size="4" color="White">Home</font></a>  <a href="/credits/"><font size="4" color="White">Credits</font></a>
<BR><BR>
    
  <img src="images/troll.jpg" height=200 width=300>
    <br> By @dec0mpiled in <font color="Black">#troll #mexico</font>
    <br><br>
    <a href="/addLike">[ Like ]</a>
    <a href="/removeLike">[ Dislike ]</a>
     <!-- <a href="/resetAll">[ Reset ]</a> !-->
   : {{likeNumber}}
    <br><br>
<marquee behavior="scroll" direction="left" scrollamount="7"><font size="5" color="Red">Site still under development! Follow <a href="//twitter.com/dec0mpiled"><font size="5" color="White">@dec0mpiled</font></a> on Twitter for updates!</font></marquee>
