<h1>{{title}}</h1><h4>By @anindevs</h4>

<a href="http://ndoto.co"><font size="4" color="White">Home</font></a>
<BR><BR>
<marquee behavior="scroll" direction="left" scrollamount="6"><font size="5" color="Red">Site still under development! Follow <a href="http://Twitter.com/anindevs"><font size="4" color="White">@anindevs</font></a> on Twitter for updates!</font></marquee>
