<head><link rel='shortcut icon' href='favicon.ico' type='image/x-icon' /></head>
<h1>{{title}}</h1><h4>By @anindevs</h4>

<a href="/"><font size="4" color="White">Home</font></a>  <a href="/credits/"><font size="4" color="White">Credits</font></a>
<BR><BR>
<marquee behavior="scroll" direction="left" scrollamount="6"><font size="5" color="Red">Site still under development! Follow <a href="//twitter.com/anindevs"><font size="5" color="White">@anindevs</font></a> on Twitter for updates!</font></marquee>
