<h1>Login or Register with nDoto</h1>
<a href="/"><font size="4" color="White">Home</font></a> <a href="/login/"><font size="4" color="White">Login</font></a> <a href="/credits/"><font size="4" color="White">Credits</font></a>

<h3>Login:</h3>
Username: <input type="text" name="fnamel"><br>
Password: <input type="text" name="fpassl"><br>
<br> <a href="/loginsubmit">[ Login ]</a>

<br><br><h3>Register:</h3>

<form action="/regSubmit" method="post">
    
    <label for='username'>Username</label>
    <input type="text" name="username" id="username" placeholder="username">
    
    <label for='password'>Password</label>
    <input type="password" name="password" id="password" placeholder="password">
    
    <!-- button -->
    <br><button type="submit">Register :)</button>
    
</form>