<h1>Login or Register with nDoto</h1>
<a href="/"><font size="4" color="White">Home</font></a> <a href="/login/"><font size="4" color="White">Login</font></a> <a href="/credits/"><font size="4" color="White">Credits</font></a>