<h1>Login or Register with nDoto</h1>
<a href="/"><font size="4" color="White">Home</font></a> <a href="/login/"><font size="4" color="White">Login</font></a> <a href="/credits/"><font size="4" color="White">Credits</font></a>

<h3>Login:</h3>
Username: <input type="text" name="fnamel"><br>
Password: <input type="text" name="fpassl"><br>

<h3>Register:</h3>
Desired Username: <input type="text" name="fnamer"><br>
Password: <input type="text" name="fpassr"><br>